<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Session <Canvas></Canvas></title>
</head>
<body>
    <h5>SessionDeleted/Flushed Report {{msg}} </h5>
</body>
</html>