<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Session</title>
</head>
<body>
    <h4>Get Session Successfully</h4>
    <div>
        <h5></h5>
        <h2>Name Fetched from Session : {{name}}</h2>

    </div>
    
</body>
</html>